<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Map</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
   <script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6xQiM02JnjQLtng97xU9ATL1MOexCo8A&callback=initMap">
    </script>
      <style>
    #map {
    
      width: 50%;
      height: 200px;
      opacity: 0.8;
      border-style:groove;
      background-color: grey;
    }
  </style>
</head>
<body>


    <script>
  function initMap() {

    {
      var uluru = { lat: -25.344, lng: 131.036 };

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 4,
        center: uluru
      });

    }

  }
</script>
</body>
</html>