

#background-style {
  /* background-color: #a2adcc; */
  background-image: url("../images/main.jpg");
  background-size: cover;
  /* opacity: 0.3; */
}

#jumbo-style {
  opacity: 0.7;
}

#nav-style {
  opacity: 0.7;
}

.posts {
  opacity: 0.9;
}

.new-post {
  display:flex;
  font-size: 45px;
  /* flex-direction: column; */
  justify-content: center;
  
}

.post {
  opacity: 0.8;
}

.card {
opacity: 0.8;

}
.card-body {
  display:flex;
      justify-content: center;
}